body::after {
  content: 'payload: __UseThePowerOfCSS__';
  color: red;
  font-size: 0;
  animation: xss-inject 0.001s;
}

@keyframes xss-inject {
  from { font-size: 0; }
  to { font-size: 16px; }
}
